bin
obj
phash.asm
*.SCC
*.suo
*.vspscc
*.vssscc
*.dll
.DS_Store

/build
/tools/phashgen_rust/target
/tools/tass_to_opForge/test
*.pyc
tools/PhashGen.exe
tools/opForge
/tools/phashgen/target
.vscode/settings.json
